<html>
    <head>
        <title>banned</title>
        <meta charset="UTF-8" />
        <link
            href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body onload="ready()">
        <div class="wrapper-all">
            <div class="wrapper-content">
                <h1>
                    Du wurdest gekickt
                </h1>
                <p>Du bist für: "<span id="reason"></span>" gekickt!</p>
                <p id="countdown">
                    Dieses Fenter verschwindet automatisch in: <span id="time"></span>
                </p>
            </div>
        </div>
        <script src="script.js"></script>
    </body>
</html>
